@tailwind base;
@tailwind components;
@tailwind utilities;


.hoverText {
  transition:
    0.35s font-weight,
    0.35s color,
    0.35 sline-height 
    ;
}

.hoverText:hover {
  font-weight: 600;
  transform: rotateY('10deg');
  font-size: 100px;
  line-height: 10px;
  color: rgb(255, 140, 123);
}

/* To the right */
.hoverText:hover + .hoverText {
  /* font-weight: 500; */
  color: rgb(255, 140, 123);
}

.hoverText:hover + .hoverText + .hoverText {
  font-weight: 300;
}

/* To the left */
.hoverText:has(+ .hoverText:hover) {
  /* font-weight: 500; */
  color: rgb(253, 182, 149);
}

.hoverText:has(+ .hoverText + .hoverText:hover) {
  font-weight: 300;
}